*{
    margin: 0;
    padding: 0;
}
.border1 {
    border-radius: 10px;
}

.card-info {
    background-color: #c9b094f8;
    border-radius: 20px;
    
}


.bk {
    display: block;
    background-image: url('../../asset/center-data-rooms-server-wallpaper-preview.jpg');
    /* background-repeat: no-repeat; */
    /* background-image: url('../../asset/icono-isometrico-tecnologia-informatica-sala-servidores-conjunto-dispositivos-digitales-elemento-diseno-computadora-portatil-pc_39422-1026.webp'); */
    /* background-color:rgba(0, 0, 0, 0.675); */
}   

.inline{
    display: inline;
}

.center1 {
    display: flex;
    justify-content: center;
}

.page-link {
    color: black;
    background-color: transparent;

    
}

.center_interv {
    display: flex!important;
    justify-content: center!important;
}

